<html>
	<body>
		<p>Hello <%= @user.username.capitalize %>,</p>
		<p>Welcome and thank you for registering. Enjoy meeting new people and making friends with new families. There are only a few steps to take to make it easier to find families with kids the same age as yours.</p>
		<p>Social-Parents is still growing. So things may not be looking up since there are so few users, but just stick with us so that you can be a part of the beginning of a new large social network. Every new social network starts off with only 1 user, there has to be a first. Give this a chance, and keep checking back for new users. Social-Parents welcomes you.</p>
		<br>
		<p><font color='FF1100'>Never meet new friends in the home. Always be safe about meeting new people, meet in puplic places.</font></p>
		<hr>
		<ul>
			<li><%= link_to "Edit Profile", get_info_url(:host => "http://social-parents.com/get_info") %></li>
			<li><%= link_to "Meet People", users_url(:host => "http://social-parents.com/users") %></li>
		</ul>
	</body>
</htm>
