<ul class="markermenu">
<li class="markermenu"><a href="profile" >Home</a></li>
<li class="markermenu"><a href="get_info" >Edit Profile</a></li>
<li class="markermenu"><a href="friends">List Friends</a></li>
<li class="markermenu"><a href="users">Find Friends</a></li>
<li class="markermenu"><a href="log_out" style="border-bottom-width: 0">Log out</a></li>		
</ul>
