<% if current_user %>
	<ul class="markermenu">
		<li class="markermenu"><a href="/" >Home</a></li>
		<li class="markermenu"><a href="/<%= current_user.username %>" >Show Profile</a></li>
		<li class="markermenu"><a href="/users" >Meet People</a></li>
		<li class="markermenu"><a href ="/friends">Friends<% unless current_user.pending_friends.empty? %>(<%= current_user.pending_friends.count %>)<% end %></a></li>
		<li class="markermenu"><a href="/listings" >Listings</a></li>
		<li class="markermenu"><a href="/family_fun">Family Fun</a></li>
		<li class="markermenu"><a href="/posts" >Parenting Blog</a></li>
		<li class="markermenu"><a href ="/sent/new?to=1">Contact Us</a></li>
		<li class="markermenu"><a href ="/log_out">Log Out</a></li>
	</ul>
<% else %>
	<ul class="markermenu">
		<li class="markermenu"><a href="/sign_up" >Sign up</a></li>
		<li class="markermenu"><a href="/log_in" >Log in</a></li>
		<li class="markermenu"><a href="/users" >Users</a></li>
		<li class="markermenu"><a href="/listings" >Listings</a></li>
		<li class="markermenu"><a href="/family_fun">Family Fun</a></li>
		<li class="markermenu"><a href="/posts" >Parenting Blog</a></li>
	</ul>
<% end %>
