<ul class="markermenu">
	<li class="markermenu"><a href="/users" >Users</a></li>
	<li class="markermenu"><a href="/listings" >Listings</a></li>
	<li class="markermenu"><a href="/family_fun">Family Fun</a></li>
</ul>

