<h1>If you like what you have found here, give us a plus 1 on google by clicking this +1 button. Thanks!</h1>
<br><br>
<div float='left'>
	<!-- Place this tag where you want the +1 button to render -->
	<g:plusone size="medium" annotation="inline"></g:plusone>

	<!-- Place this render call where appropriate -->
	<script type="text/javascript">
		(function() {
		  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		  po.src = 'https://apis.google.com/js/plusone.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>
</div>
