<div class="header">

  <div class="header_interior"><a href='/'><img src="/assets/flower400.jpg" alt="Logo" width="90" height="60" style="float:left; margin-right:10px;" /></a> 
  <h1 class="title">Social Parenting</h1>
	</div>
</div>
