<title>Social Parents
</title>
<link rel="icon" 
      type="image/ico" 
      href="/assets/images/logo.ico">
<div class="header">

  <div class="header_interior"><img src="/assets/images/logo.png" alt="Logo" width="44" height="44" style="float:left; margin-right:10px;" /> 
  <h1 class="title">Social Parents</h1>
	</div>
</div>
